
//* VARIABALES
$primaryFont: 'Josefin Sans', sans-serif;
$secondaryFont: 'Roboto', sans-serif;
$primaryColor:#FF6F61;
$secondaryColor:#11161E;

//* VARIABLES ENDS


//* COMMON CSS STARTS

//* FONTS IMPORT
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Roboto:wght@400;700&display=swap');
//* FONTS IMPORT ENDS

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $primaryFont;
}

ul,ol{
    list-style: none;

}

a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,ul,span,ol,p,a{
    margin: 0;
    padding: 0;
}

//* COMMON CSS ENDS



//* NAVBAR

nav.navbar{
    // MAIN MENU
     .mainMenu{
         li a{
           font-size: 16px;
           color: $secondaryColor !important;
           padding: 37px,22px !important;
           display: inline-block;

        } 
    }

     .buttonGroups{
        li{
            display: inline-block;
            margin:  0 5px;
        }
       span, a{
        font-size: 24px;
        color:#151A32;
        position: relative;

       }
       .cartNumber{
        position: absolute;
        top: -8px;
        background-color: $primaryColor;
        width:15px;
        height: 15px;
        border-radius: 50%;
        font-size: 14px;
        text-align: center;
        line-height: 17px;
        color: white;

        right: -5px;

       }
     }

    // MAIN MENU ENDS
}
//* NAVBAR ENDS

//*HOME PAGE

//* BANNER
 #banner{
    position: relative;
    .banner_slide{
        height: 800px;
        background-position: center;
        background-size: cover;

        
            
        }

      .banner_cnt{
        color: #1D1D1D;

        h5{
            font-size: 20px;
        }

        h2{
            font-size: clamp(20px,12vw,64px);
            font-weight: 700;
            margin: 14px 0;
           transition-delay: 300ms;
        }

        p{
            font-size: 16px;
            font-weight: 400;
            margin-top: 18px;
            transition-delay: 400ms
        }

        a{ 
           padding: 13px 37px;
           background-color: $primaryColor;
           color: white;
           margin-top: 16px;
           margin-left: 0;
           display: inline-block; 
       
           span{
            line-height: 20px;
           }
          
        }
    
        & > * {
            transform: translateY(200px);
            opacity: 0;
            transition: 0.35s ease;
        }


      }  
      
     
      

    }
    

    

     .slick-dots{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translateX(-50%);
      
        li{
            display: inline-block;
        }
        button{
            width: 15px;
            height: 10px;
            background-color: white;
            border: none;
            border-radius: 20px;
            color: transparent;
            margin-right: 15px;
            transition: 0.35s ease;

        }

         &.slick-active button{
           width: 30px;

            background-color: $primaryColor;
         }
    }
}
//* BANNER END


//*HOME PAGE END
